{% extends "base.html" %}
{% block title %}Add Car{% endblock %}

{% block content %}
<h1>Add a New Car</h1>
<form method="POST" action="{{ url_for('admin.add_car') }}" enctype="multipart/form-data">
<div class="form-group">
    <label for="car_brand">Car Brand</label>
    <select id="car_brand" name="car_brand" class="form-control">
        <option value="" disabled selected>Select a brand</option>
        {% for brand in car_brands %}
        <option value="{{ brand.name }}">{{ brand.name }}</option>
        {% endfor %}
    </select>
</div>
<button type="button" id="delete_brand_btn" class="btn btn-danger" onclick="deleteSelectedBrand()">Delete Selected Brand From List</button>
<button type="button" class="btn btn-primary" onclick="editSelectedBrandName()">Edit Car</button>



    <div class="form-group">
        <label for="car_model">Car Model</label>
        <input type="text" id="car_model" name="car_model" class="form-control" placeholder="Enter car model" required>
    </div>

    <div class="form-group">
        <label for="range">Range (km)</label>
        <input type="number" id="range" name="range" class="form-control" placeholder="Enter the car range" required>
    </div>

    <div class="form-group">
        <label for="range">Car Weight (kg)</label>
        <input type="number" id="weight " name="weight " class="form-control" placeholder="Enter the car weight" required>
    </div>

    <div class="form-group">
        <label for="range">Horse Power (hp)</label>
        <input type="number" id="horse_power" name="horse_power" class="form-control" placeholder="Enter number of horser power" required>
    </div>

    <div class="form-group">
        <label for="fast_chargingTime">Fast Charging Time</label>
        <input type="number" id="fast_chargingTime" name="fast_chargingTime" class="form-control" placeholder="Enter fast charging time" required>
    </div>



    <div class="form-group">
        <label for="manufacturing_country">Manufacturing country:</label>
        <select id="manufacturing_country" name="manufacturing_country" class="form-control">
            <option value="" disabled selected>Select a Manufacturing country</option>
            <option value="USA" selected>USA</option>
            <option value="Germany">Germany</option>
            <option value="China">Spain</option>
            <option value="China">Italy</option>
            <option value="China">Czech</option>
            <option value="Germany">France</option>
            <option value="Japan">Japan</option>
            <option value="Koria">Korea</option>
            <option value="China">China</option>
        </select>
    </div>

    <div class="form-group">
        <label>Car Segment (You can choose more than one option):</label><br>
        {% for segment in ["A (Mini Cars)", "B (Small Cars)", "C (Medium Cars)", "D (Large Cars)", "Jeep", "Sedan", "SUV",
        "Premium Cars", "Sport Cars"] %}
        <input type="checkbox" id="{{ segment }}" name="car_segment" value="{{ segment }}">
        <label for="{{ segment }}">{{ segment }}</label><br>
        {% endfor %}
        <input type="checkbox" id="any_segment" name="car_segment" value="Any_segment">
        <label for="any_segment">Any Segment</label><br>
    </div>


    <div class="form-group">
        <label for="ncap_rating">Rate  EURO NCAP safety rating (crash tests) </label><br>
        <select id="ncap_rating" name="ncap_rating" class="form-control" required>
            <option value="0">0 - No Crash tests Were Done</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 - 5 Star</option>
    
        </select>
    </div>
    
    <div class="form-group">
        <label for="screen_size">Multimedia Screen Size</label>
        <input type="number" id="screen_size" name="screen_size" class="form-control"
            placeholder="Enter car multimedia screen size" required>
    </div>

    <div class="form-group">
        <label for="car_image">Image</label>
        <input type="text" id="car_image" name="car_image" class="form-control" placeholder="Enter a url link to an image" required>
    </div>
    

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" class="form-control"
            placeholder="Enter fast charging time" required>
    </div>

    <button type="submit" class="btn btn-primary">Add Car</button>
</form>



<h2>Manage Car Brands - Add Car Brands</h2>

<div id="manage_brands_form">
    <form id="add_brand_form" method="POST" action="{{ url_for('admin.addNewBrand') }}">
        <div class="form-group">
            <label for="new_brand">New Car Brand</label>
            <input type="text" id="new_brand" name="new_brand" class="form-control" placeholder="Enter new brand"
                required>
        </div>
        <button type="submit" id="save_brand_btn" class="btn btn-primary">Save Brand</button>
    </form>
</div>
<br />
<br />

<script>
    function deleteSelectedBrand() {
        var selectElement = document.getElementById('car_brand')
        var selectedBrandId  = selectElement.value

        if (selectedBrandId) {
            fetch('/delete-brand', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ brandId: selectedBrandId })
            })
                .then(response => {
                    if (response.ok) {
                        window.location.reload(); 
                    } else {
                        console.error('Error deleting brand');
                    }
                });
        } else {
            alert('Please select a brand to delete.');
        }
    }
    

    function editSelectedBrandName() {
            var selectElement = document.getElementById('car_brand');
            var selectedBrandId = selectElement.value;
            var newName = prompt("Enter the new name for the selected brand:");

            if (selectedBrandId && newName) {
                fetch('/edit-brand', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ brandId: selectedBrandId, newName: newName })
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.reload(); 
                        } else {
                            return response.json().then(data => {
                                console.error('Error updating brand:', data.message);
                            });
                        }
                    });
            } else {
                alert('Please select a brand and enter a new name.');
            }
        }

    function handleSpecialCheckboxChange(specialCheckboxId, relatedCheckboxesName) {
            const specialCheckbox = document.getElementById(specialCheckboxId);
            const checkboxes = document.querySelectorAll(`input[name="${relatedCheckboxesName}"]:not(#${specialCheckboxId})`);

            specialCheckbox.addEventListener('change', function () {
                if (this.checked) {
                    checkboxes.forEach(checkbox => {
                        checkbox.checked = false;
                        checkbox.disabled = true;
                    });
                } else {
                    checkboxes.forEach(checkbox => {
                        checkbox.disabled = false;
                    });
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            handleSpecialCheckboxChange('any_segment', 'car_segment');
            handleSpecialCheckboxChange('Yes', 'ncap_choice');
            handleSpecialCheckboxChange('No', 'ncap_choice');
            handleSpecialCheckboxChange('Yes2', 'screen_choice');
            handleSpecialCheckboxChange('No2', 'screen_choice');
        });


    

</script>


{% endblock %}
