{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Admin Dashboard</h1>

    <div class="row mb-4">
        <div class="col-md-4">
            <a href="{{ url_for('admin.carList') }}" class="btn btn-primary btn-lg w-100">View Car List</a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('admin.add_car') }}" class="btn btn-success btn-lg w-100">Add New Car</a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('admin.user_control') }}" class="btn btn-info btn-lg w-100">User Control</a>
        </div>
    </div>

    <hr class="my-5">

   
</div>


{% endblock %}













