{% extends "base.html" %}
{% block title %}Car List{% endblock %}

{% block content %}
<style>
    .heading-with-border {
        font-size: 2rem;
        font-weight: 700;
        color: #333;
        position: relative;
        padding-bottom: 0.5rem;
    }

    .heading-with-border::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 3px solid #48494a;
    }

    .card-title-with-border {
        position: relative;
        padding-bottom: 0.5rem;
        font-size: 1.25rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 1rem;
    }

    .card-title-with-border::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 2px solid #48494a;
    }

    .card-details-border {
        border-bottom: 2px solid #48494a;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .btn-primary,
    .btn-danger {
        font-size: 0.875rem;
    }

    .btn-lg {
        font-size: 1rem;
    }

    .btn-sm {
        font-size: 1rem;
    }

    .card {
        transition: transform 0.5s, box-shadow 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
</style>

<div class="container mt-5">
    <h2 class="text-center mb-4 heading-with-border">All Cars</h2>
    <div class="mb-4 text-center">
        <a href="{{ url_for('admin.add_car') }}" class="btn btn-primary btn-lg">Add a New Car</a>
    </div>
    <div class="row">
        {% for car in cars %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border rounded">
                {% if car.img %}
                <img src="{{ car.img }}" class="card-img-top" alt="Car Image">
                {% else %}
                <img src="https://via.placeholder.com/300x200?text=No+Image" class="card-img-top"
                    alt="Placeholder Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title card-title-with-border">{{ car.brand.name }} {{ car.model }}</h5>
                    <div class="card-details-border">
                        <p class="card-text">
                            <strong>Range:</strong> {{ car.range }} km<br>
                            <strong>Horse Power:</strong> {{ car.horse_power }} hp<br>
                            <strong>Acceleration:</strong> {{ car.acceleration }} s (0-100 km/h)<br>
                            <strong>Fast Charging Time:</strong> {{ car.fast_chargingTime }} minutes<br>
                            <strong>Price:</strong> {{ car.price }} ILS<br>
                            <strong>Usage:</strong> {{ car.usage }}<br>
                            <strong>Daily Commute:</strong> {{ car.daily_commute }} km<br>
                            <strong>Manufacturing Country:</strong> {{ car.manufacturing_country }}<br>
                            <strong>Segment:</strong> <span class="car-segment">{{ car.segment }}</span><br>
                            <strong>Safety Rating:</strong> {{ car.isSafety_rating }}<br>
                            <strong>Screen Size:</strong> {{ car.screen_size }} inches<br>
                            <strong>Weight:</strong> {{ car.weight }} kg<br>
                            <strong>Year:</strong> {{ car.year }}
                        </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-primary btn-sm" onclick="editCar('{{ car.id }}')">Edit
                            Car</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="deleteCar('{{ car.id }}')">Delete
                            Car</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function deleteCar(carId) {
        fetch('/delete-car', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ carId: carId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();  // Reload the page to reflect changes
                } else {
                    console.error('Error deleting car');
                }
            });
    }

    function editCar(carId) {
        window.location.href = `/edit-car/${carId}`;  // Redirect to the edit page
    }


    document.addEventListener("DOMContentLoaded", function () {
            var segments = document.querySelectorAll('.car-segment');
            segments.forEach(function (segment) {
                segment.textContent = segment.textContent.replace(/[\[\]"]+/g, '').replace(/,/g, ', ');
            });
        });
</script>

{% endblock %}