{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<style>

    .mt-5, .my-5 {
        margin-top: 2.3rem !important;
    }

    .heading-with-border {
        font-size: 2rem;
        font-weight: 700;
        color: #333;
        position: relative;
        padding-bottom: 0.5rem;
    }

    .heading-with-border::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 3px solid #48494a;
    }

    .card-title-with-border {
        position: relative;
        padding-bottom: 0.5rem;
        font-size: 1.25rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 1rem;
    }

    .card-title-with-border::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 2px solid #48494a;
    }

    .card-details-border {
        border-bottom: 2px solid #48494a;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.2;
        width: 165px;
        border-radius: .3rem;
    }

    .card {
        transition: transform 0.5s, box-shadow 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .card-img-top {
        transition: transform 0.3s;
    }

    /* .card:hover .card-img-top {
        transform: scale(1.05);
    } */

    .search-box {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 3px solid #48494a;
    }


    .search-box input,
    .search-box select {
        width: 100%;
        max-width: 600px;
        padding: 0.75rem;
        font-size: 17px;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
    }

    .search-box input:focus,
    .search-box select:focus {
        outline: none;
        border-color: #48494a;
        box-shadow: 0 0 0 0.2rem rgba(72, 73, 74, 0.25);
    }

    .price-filter,
    .range-filter,
    .acceleration-filter,
    .horsepower-filter,
    .safety-filter,
    .fast-charging-filter,
    .segment-filter,
    .country-filter {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .price-filter input,
    .range-filter input,
    .acceleration-filter input,
    .horsepower-filter input,
    .safety-filter input,
    .fast-charging-filter input,
    .segment-filter select,
    .country-filter select {
        width: 100%;
        max-width: 250px;
    }

    .error-message {
        color: red;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
</style>

<div class="container mt-5">
    <h3 class="text-center mb-4 heading-with-border">
        Hi {{user.first_name}}, Explore All Cars &nbsp
        <button id="clearFilters" class="btn btn-secondary">Clear Filters</button>
    </h3>

    <div class="search-box">
        <table class="filter-table">
            <tbody>
                <tr>
                    <td colspan="2">
                        <input type="text" id="searchInput" placeholder="Search for cars and brands..." class="search-input">
                    </td>
                    <td colspan="2">
                        <input type="number" id="minSafetyRating" placeholder="Min Safety Rating" min="0" max="5"
                            class="filter-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" id="minPrice" placeholder="Min Price" min="0" class="filter-input">
                    </td>
                    <td>
                        <input type="number" id="maxPrice" placeholder="Max Price" min="0" class="filter-input">
                    </td>
                    <td>
                        <input type="number" id="minRange" placeholder="Min Range" min="0" class="filter-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" id="maxAcceleration" placeholder="Max Acceleration (sec)" min="0"
                            class="filter-input">
                    </td>
                    <td>
                        <input type="number" id="minHorsePower" placeholder="Min Horse Power" min="0"
                            class="filter-input">
                    </td>
                    <td>
                        <input type="number" id="maxHorsePower" placeholder="Max Horse Power" min="0"
                            class="filter-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" id="maxFastChargingTime" placeholder="Max Fast Charging Time (min)" min="0"
                            class="filter-input">
                    </td>
                    <td>
                        <select id="segmentSelect" class="filter-input">
                            <option value="">Select Segment</option>
                            {% for segment in ["A (Mini Cars)", "B (Small Cars)", "C (Medium Cars)", "D (Large Cars)",
                            "Jeep", "Sedan", "SUV", "Premium Cars", "Sport Cars"] %}
                            <option value="{{ segment }}">{{ segment }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="countrySelect" class="filter-input">
                            <option value="">Select Manufacturing Country</option>
                            {% for country in ["USA", "Germany", "France", "Italy", "Sweeden", "Spain", "Czech", "Japan", "Korea", "China"] %}
                            <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="errorMessage" class="error-message"></div>
    </div>

    <div class="row">
        {% for car in cars %}
        <div class="col-md-4 mb-4 car-card">
            <div class="card shadow-sm border rounded">
                {% if car.img %}
                <img src="{{ car.img }}" class="card-img-top" alt="Car Image">
                {% else %}
                <img src="https://via.placeholder.com/300x200?text=No+Image" class="card-img-top"
                    alt="Placeholder Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title card-title-with-border">{{ car.brand.name }} {{ car.model }}</h5>
                    <div class="card-details-border">
                        <p class="card-text">
                            <strong>Range:</strong> {{ car.range }} km<br>
                            <strong>Horse Power:</strong> {{ car.horse_power }} HP<br>
                            <strong>Acceleration:</strong> {{ car.acceleration }} sec (0-100 km/h)<br>
                            <strong>Fast Charging Time:</strong> {{ car.fast_chargingTime }} minutes<br>
                            <strong>Price:</strong> {{ car.price }} ILS<br>
                            <strong>Daily Commute:</strong> Up To {{ car.daily_commute }} km<br>
                            <strong>Manufacturing Country:</strong> {{ car.manufacturing_country }}<br>
                            <strong>Segment:</strong> <span class="car-segment">{{ car.segment }}</span><br>
                            <strong>Safety Rating:</strong> {{ car.isSafety_rating }} Star<br>
                            <strong>Screen Size:</strong> {{ car.screen_size }} inches<br>
                            <strong>Weight:</strong> {{ car.weight }} kg <br> 
                            <strong>Year:</strong> {{ car.year }}
                        </p>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{{ url_for('car_pages.car_data', model_name=car.model, brand_name=car.brand.name)}}" class="btn btn-info btn-lg">Explore</a>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var searchInput = document.getElementById('searchInput');
        var minPriceInput = document.getElementById('minPrice');
        var maxPriceInput = document.getElementById('maxPrice');
        var minRangeInput = document.getElementById('minRange');
        var maxAccelerationInput = document.getElementById('maxAcceleration');
        var minHorsePowerInput = document.getElementById('minHorsePower');
        var maxHorsePowerInput = document.getElementById('maxHorsePower');
        var minSafetyRatingInput = document.getElementById('minSafetyRating');
        var maxFastChargingTimeInput = document.getElementById('maxFastChargingTime');
        var segmentSelect = document.getElementById('segmentSelect');
        var countrySelect = document.getElementById('countrySelect');
        var errorMessage = document.getElementById('errorMessage');
        var clearFiltersButton = document.getElementById('clearFilters');
        var cars = document.querySelectorAll('.car-card');

        function filterCars() {
            var searchTerm = searchInput.value.toLowerCase();
            var minPrice = parseFloat(minPriceInput.value) || 0;
            var maxPrice = parseFloat(maxPriceInput.value) || Infinity;
            var minRange = parseFloat(minRangeInput.value) || 0;
            var maxAcceleration = parseFloat(maxAccelerationInput.value) || Infinity;
            var minHorsePower = parseFloat(minHorsePowerInput.value) || 0;
            var maxHorsePower = parseFloat(maxHorsePowerInput.value) || Infinity;
            var minSafetyRating = parseFloat(minSafetyRatingInput.value) || 0;
            var maxFastChargingTime = parseFloat(maxFastChargingTimeInput.value) || Infinity;
            var selectedSegment = segmentSelect.value.toLowerCase();
            var selectedCountry = countrySelect.value.toLowerCase();


            let visibleCarCount = 0;

            cars.forEach(function (card) {
                var brand = card.querySelector('.card-title').textContent.toLowerCase();
                var range = parseFloat(card.querySelector('.card-text').textContent.match(/Range:\s(\d+)/)[1]);
                var price = parseFloat(card.querySelector('.card-text').textContent.match(/Price:\s(\d+)/)[1]);
                var acceleration = parseFloat(card.querySelector('.card-text').textContent.match(/Acceleration:\s([\d.]+)/)[1]);
                var horsePower = parseFloat(card.querySelector('.card-text').textContent.match(/Horse Power:\s(\d+)/)[1]);
                var fastChargingTime = parseFloat(card.querySelector('.card-text').textContent.match(/Fast Charging Time:\s(\d+)/)[1]);
                var safetyRating = parseFloat(card.querySelector('.card-text').textContent.match(/Safety Rating:\s(\d+)/)[1]);
                var segment = card.querySelector('.car-segment').textContent.toLowerCase();
                var country = card.querySelector('.card-text').textContent.match(/Manufacturing Country:\s(\w+)/)[1].toLowerCase();

                var matchesSegment = selectedSegment === '' || segment.includes(selectedSegment);
                var matchesCountry = selectedCountry === '' || country.includes(selectedCountry);

                if (
                    price < minPrice || price > maxPrice ||
                    range < minRange ||
                    acceleration > maxAcceleration ||
                    horsePower < minHorsePower || horsePower > maxHorsePower ||
                    safetyRating < minSafetyRating ||
                    fastChargingTime > maxFastChargingTime ||
                    (!brand.includes(searchTerm)) ||
                    !matchesSegment ||
                    !matchesCountry
                ) {
                    card.style.display = 'none';
                } else {
                    card.style.display = 'block';
                    visibleCarCount++;
                }
            });


            if (visibleCarCount === 0) {
                if (minPrice > maxPrice) {
                    errorMessage.textContent = 'Minimum price cannot be greater than maximum price.';
                }
                else if (minSafetyRating > 5) {
                    errorMessage.textContent = 'Minimum saftey rating cannot be greater than 5.';
                }
                else {
                    errorMessage.textContent = 'No cars match the selected filters.';
                }
                
                errorMessage.style.display = 'block';
            } else {
                errorMessage.style.display = 'none';
            }
        }

        searchInput.addEventListener('input', filterCars);
        minPriceInput.addEventListener('input', filterCars);
        maxPriceInput.addEventListener('input', filterCars);
        minRangeInput.addEventListener('input', filterCars);
        maxAccelerationInput.addEventListener('input', filterCars);
        minHorsePowerInput.addEventListener('input', filterCars);
        maxHorsePowerInput.addEventListener('input', filterCars);
        minSafetyRatingInput.addEventListener('input', filterCars);
        maxFastChargingTimeInput.addEventListener('input', filterCars);
        segmentSelect.addEventListener('change', filterCars);
        countrySelect.addEventListener('change', filterCars);

        function cleanSegmentText() {
            var segments = document.querySelectorAll('.car-segment');
            segments.forEach(function (segment) {
                segment.textContent = segment.textContent.replace(/[\[\]"]+/g, '').replace(/,/g, ', ');
            });
        }

        clearFiltersButton.addEventListener('click', function () {
            searchInput.value = '';
            minPriceInput.value = '';
            maxPriceInput.value = '';
            minRangeInput.value = '';
            maxAccelerationInput.value = '';
            minHorsePowerInput.value = '';
            maxHorsePowerInput.value = '';
            minSafetyRatingInput.value = '';
            maxFastChargingTimeInput.value = '';
            segmentSelect.value = '';
            countrySelect.value = '';

            filterCars();
        });

        cleanSegmentText();
        filterCars();
    });
</script>

{% endblock %}