{% extends "base.html" %} {%block title %}Home{% endblock %}

{% block content %}
<br />
<form id="preferencesForm" method="POST">

    <div class="form-group">
        <label for="minRange">Minimum Driving Range:</label>
        <input type="number" id="minRange" class="form-control" name="minRange" placeholder="Your minimum driving range" required>
    </div>

    <div class="form-group">
        <label for="minPrice">Minimum Price:</label>
        <input type="number" id="minPrice" class="form-control" name="minPrice" placeholder="Enter the minimum price" required>
    </div>

    <div class="form-group">
        <label for="maxPrice">Maximum Price:</label>
        <input type="number" id="maxPrice" class="form-control" name="maxPrice" placeholder="Enter the maximum price" required>
    </div>


    <div class="form-group">
        <label for="preferredBrands">Preferred Brands:</label><br>
        {% for brand in car_brands %}
        <input type="checkbox" id="{{ brand.name }}" name="preferredBrands" value="{{ brand.name }}">
        <label for="{{ brand.name }}">{{ brand.name }}</label><br>
        {% endfor %}
        <input type="checkbox" id="nothing" name="preferredBrands" value="nothing">
        <label for="nothing">Nothing</label><br>
    </div>


    <div class="form-group">
        <label for="usage">Usage:</label>
        <select id="usage" class="form-control" name="usage">
            <option value="commute">Daily Commute</option>
            <option value="longTrips">Long Trips</option>
            <option value="mixed">Mixed Use</option>
        </select>
    </div>

    <div class="form-group">
        <label for="daily_commute">Your Daily Commmute:</label>
        <input type="number" id="daily_commute" class="form-control" name="daily_commute" placeholder="Enter your daily commute" required>
    </div>

    <div class="form-group">
        <label for="fastChargingMaxTime">Maximum Charging Time (minutes):</label>
        <input type="number" id="fastChargingMaxTime" class="form-control" name="fastChargingMaxTime"
            placeholder="30" required>
    </div>

    <div class="form-group">
        <label>Preferred Manufacturing Country:</label><br>
        {% for country in ["USA", "Germany", "France", "Japan", "Koria", "China"] %}
        <input type="checkbox" id="{{ country }}" name="manufacturing_country" value="{{ country }}">
        <label for="{{ country }}">{{ country }}</label><br>
        {% endfor %}
        <input type="checkbox" id="any_country" name="manufacturing_country" value="Any_Country">
        <label for="any_country">Any Country</label><br>
    </div>

    <button type="submit" class="btn btn-primary">Submit Preferences</button>
</form>
<br />
<br />
<script>

    function handleSpecialCheckboxChange(specialCheckboxId, relatedCheckboxesName) {
            const specialCheckbox = document.getElementById(specialCheckboxId);
            const checkboxes = document.querySelectorAll(`input[name="${relatedCheckboxesName}"]:not(#${specialCheckboxId})`);

            specialCheckbox.addEventListener('change', function () {
                if (this.checked) {
                    checkboxes.forEach(checkbox => {
                        checkbox.checked = false;
                        checkbox.disabled = true;
                    });
                } else {
                    checkboxes.forEach(checkbox => {
                        checkbox.disabled = false;
                    });
                }
            });
        }

        handleSpecialCheckboxChange('any_country', 'manufacturing_country');
        handleSpecialCheckboxChange('nothing', 'preferredBrands');    
    
</script>



{% endblock%}