{% extends "base.html" %}
{% block title %}User Control{% endblock %}

{% block content %}
<style>

    @media (min-width: 1200px) {

        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 800px;
        }
    }

    .section-header {
        font-size: 2rem;
        font-weight: 700;
        color: #333;
        border-bottom: 2px solid #686a6c;
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;
    }


    .user-info h5,
    .user-info p {
        font-size: 1rem;
    }

    .btn-group .btn {
        font-size: 1rem;
        padding: 0.5rem 0.8rem;

    }

    .btn-group .btn:not(:last-child) {
        margin-right: 0.5rem;
    }
</style>
<br />
<br />
<div id="userListSection" class="container">
        <h3 class="section-header text-center">Control All Users</h3>

    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="user-info">
                        <h5 class="mb-1"><strong>Username:</strong> {{ user.first_name }}</h5>
                        <p class="mb-1"><strong>Email:</strong> {{ user.email }}</p>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-info btn-sm"
                            onclick="editUser('{{ user.id }}')">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm"
                            onclick="deleteUser('{{ user.id }}')">Delete</button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    function deleteUser(userId) {
        fetch('/delete-user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ userId: userId })
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Error deleting user');
                }
            });
    }

    function editUser(userId) {
        const fields = ['first_name', 'email', 'password']; 

        fields.forEach(field => {
            const newValue = prompt(`Enter new ${field.replace('_', ' ')}:`, '');
            if (newValue) {
                fetch('/edit-user', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ userId: userId, field: field, value: newValue })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            window.location.reload();
                        } else {
                            console.error(`Error updating ${field.replace('_', ' ')}`);
                        }
                    });
            }
        });
    }

</script>
{% endblock %}